* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---------temporary styles for structural html------- */ 
*section {
    border: 2px solid rgb(225,225,225);
}

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192B37;
 }

/* Image Styles */ 
.bg-image {
    background-image: url('/images/thesleepco1.jpg')
    background-size: cover;
    min-height:10rem; 
}

/* --------- Universal styles & utility classes ------- */ 

.padded    { padding: 5%; }
.padded-sm { padding: 1rem; }
.padded-lg {padding: 10%; }

.bg-dark {
    background-color: #192B37;
    color: white;
}


.text-left   {text-align: left; }
.text-center {text-align: center; }
.text-right  {text-align: right; }

.tall-50 { min-height: 50 vh; }
.tall-60 { min-height: 60 vh; }
.tall-70 { min-height: 70 vh; }
.tall-80 { min-height: 80 vh; }
.tall-90 {min-height: 90 vh; }
.tall-100 { min-height: 100 vh; }

/* Typography Stles */

h2 {
    font-size: 2.5 rem; 
    line-height: 1.1; 
    margin-bottom: 1 rem; 
}

h3 {
    line-height: 1; 
}

p {
    font-weight: 200;
   line-height: 1.5;
   margin-bottom: 1 rem; 
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a hover { color: #FFBE00 }

.featured-text { color: #FFBE00 }
.white-text { color: #FFFF }

.small-text  { font-size: 1.5 rem; }
.medium-text { 
    font-size: 2.2 rem;
    line-height: 1.1;
}

.big-text    { font-size: 4.5 rem; }

.subtitle { 
    font-size: 1.2 rem;
    color: rgb (120,120,125);
}

.quote-icon {
    font-size: 6 rem;
    display: inline-block;
     color: rgb (120,120,125);
     line-height: 1;
}

.font-weight-light      { font-weight: light; }
.font-weight-normal     { font-weight: normal; }
.font-weight-extra-bold {font-weight: extra-bold;}

plast-child; 
margin-bottom: 0;

/* Header & Footer styles */ 

header {
    background-image: url('/images/thesleepco1.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5.5 rem; 
    line-height: 1;
}

footer a {
    border: none;
}

/* Background Images */ 

.bg-bed {background-image: url('/images/thesleepco2.jpg'); }
.bg-pug { 
    background-image: url('/images/thesleepco4.jpg');
    background-position: 50% 35%; 
}
.bg-pillow {
     background-image: url('/images/thesleepco5.jpeg');
     background-position: 50% 57%;
}
    /* Icon Grid */ 
    .fas {
        display: block;
        text-align: center;
        margin-bottom: 2 rem;
        font-size: 3 rem; 
    }